
/bin
/gen
.DS_Store

/dist/jars
.externalToolBuilders
lint.xml
/dist/dist_local.properties

bin/
gen/

build/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

library/
/library/
.idea/libraries

.idea
*.iml